# VIM
nvim/autoload/plugged/**/*
nvim/.netrwhist
nvim/plugin/packer_compiled.vim

.zcompdump*
.DS_Store

# Karabiner
karabiner/**/*
!karabiner/karabiner.json

# Fish
fish
!fish/config.fish
!fish/fish_plugins

# tmux
tmux/plugins
